.upg-tabs {
    display: flex;
    cursor: pointer;
}
.upg-tabs div {
    padding: 10px;
    background: #f1f1f1;
    border: 1px solid #ccc;
    margin-right: 5px;
}
.upg-tabs div.active {
    background: #fff;
    border-bottom: 0;
}
.upg-tab-content {
    display: none;
    border: 1px solid #ccc;
    padding: 10px;
}
.upg-tab-content.active {
    display: block;
}